.movie-Board {
    padding: 1.2rem;
    margin: 1rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    border: .1rem solid rgb(156, 146, 146);
    border-radius: .5rem;
    box-shadow: .1rem .1rem rgb(156, 146, 146),
        .2rem .2rem rgb(8, 8, 7),
        .3rem .3rem rgb(156, 146, 146);
}

.loading {
    text-align: center;
    color: #b9b6f1a8;
    top: 45vh;
    position: relative;
}

.title {
    font-size: larger;
    font-weight: 800;
}

p {
    margin-bottom: 1rem;
}

.head-text {
    color: rgb(248, 255, 255);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.subhead {
    letter-spacing: .1rem;
    text-transform: none;
    color: rgba(255, 255, 255, 0.897);
}

.subType {
    text-transform: capitalize;
}

.ratings {
    margin: 1rem;
    text-align: center;
}

.tags-container {
    margin: 2rem;
}

.tags-container>span {
    border: .15rem solid black;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;
    background: linear-gradient(to left, #6b62fe, #5b598388);
}

.image-section {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image{
    height: 25rem;
    width: 20rem;
}

.details-section {
    text-align: right;
    margin-top: 2rem;
}

.progressBar {
    animation: linearProgress 3s forwards;
}

@keyframes linearProgress {
    from {
        width: 0;
    }
}

@media screen and (max-width: 1000px) {
    .movie-Board {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .details-section {
        text-align: center;
    }

    .tags-container {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tags-container>span {
        border: .15rem solid black;
        border-radius: .5rem;
        margin: .5rem;
        padding: .5rem;
        background: linear-gradient(to left, #6b62fe, #5b598388);
    }
}

@media screen and (max-width: 500px){    
    .image{
        height: 10rem;
        width: 10rem;
    }
}